* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for Table */
#altsch {
    width: 100px;
    padding: 20px;
    padding-bottom: 0px;
    
}
.navbar-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #f2f2f2;

    header {
        border-bottom: none !important;
    }
}
#table-nav {
    padding-right: 28px;

    a {
        color: rgb(0, 0, 0);
        font-size: 20px;
    }
    a:hover {
        color: rgba(19, 124, 235);
    }
}
#table-p {
    font-size: 22px;
    padding-left: 25px;
    margin-top: 30px;
    margin-bottom: 15px;
}
table {
    table-layout: fixed;
    /* border: none; */
    width: 97%;
    border-spacing: 0;
    font-size: 20px;
    color: rgba(19, 124, 235);
    height: 60vh;
    margin: auto;
   
}
td, th, caption {
    padding: 0.5rem;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

table tr th:first-child, caption {
    border-left: 1px solid #000;
}
caption {
    border-top: 1px solid #000;
    padding: 25px;
    font-size: 30px;
    letter-spacing: 1px;
} 
thead tr:first-child th:nth-child(2), tbody tr:first-child th:first-child {
    font-size: 25px;
    font-style: italic;
}
caption {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
tbody tr:first-child th:first-child {
    border-bottom-left-radius: 0.5rem;
}
tbody tr:nth-child(4) td:nth-child(5) {
    border-bottom-right-radius: 0.5rem;
}
th {
    letter-spacing: 2px;
}
td {
    letter-spacing: 1px;
}
tbody td {
    text-align: center;
}
header {
    border-bottom: 2px solid #f2f2f2;
}
nav {
    display: flex;
    justify-content: end;
    gap: 70px;
    padding: 15px 10px;
}
nav a {
    text-decoration: none;
    color: rgba(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
}
nav a:hover {
    color: rgba(19, 124, 235);
}